In [1]:
import pandas as pd
df=pd.read_csv('books.csv')
df.head(10)

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0
5,9780006280934,0006280935,The Problem of Pain,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=Kk-uV...,"""In The Problem of Pain, C.S. Lewis, one of th...",2002.0,4.09,176.0,37569.0
6,9780006353287,0006353282,An Autobiography,NaN,Agatha Christie,"Authors, English",http://books.google.com/books/content?id=c49GQ...,Donation.,1977.0,4.27,560.0,3975.0
7,9780006380832,0006380832,Empires of the Monsoon,A History of the Indian Ocean and Its Invaders,Richard Hall,"Africa, East",http://books.google.com/books/content?id=MuPEQ...,Until Vasco da Gama discovered the sea-route t...,1998.0,4.41,608.0,65.0
8,9780006470229,000647022X,The Gap Into Madness,Chaos and Order,Stephen R. Donaldson,"Hyland, Morn (Fictitious character)",http://books.google.com/books/content?id=4oXav...,A new-cover reissue of the fourth book in the ...,1994.0,4.15,743.0,103.0
9,9780006472612,0006472613,Master of the Game,NaN,Sidney Sheldon,Adventure stories,http://books.google.com/books/content?id=TkTYp...,Kate Blackwell is an enigma and one of the mos...,1982.0,4.11,489.0,43540.0

In [2]:
df.shape

(6810, 12)

In [3]:
df.isnull().sum()

isbn13               0
isbn10               0
title                0
subtitle          4429
authors             72
categories          99
thumbnail          329
description        262
published_year       6
average_rating      43
num_pages           43
ratings_count       43
dtype: int64

In [4]:
df['description'][1]

"A new 'Christie for Christmas' -- a full-length novel adapted from her acclaimed play by Charles Osborne Following BLACK COFFEE and THE UNEXPECTED GUEST comes the final Agatha Christie play novelisation, bringing her superb storytelling to a new legion of fans. Clarissa, the wife of a Foreign Office diplomat, is given to daydreaming. 'Supposing I were to come down one morning and find a dead body in the library, what should I do?' she muses. Clarissa has her chance to find out when she discovers a body in the drawing-room of her house in Kent. Desperate to dispose of the body before her husband comes home with an important foreign politician, Clarissa persuades her three house guests to become accessories and accomplices. It seems that the murdered man was not unknown to certain members of the house party (but which ones?), and the search begins for the murderer and the motive, while at the same time trying to persuade a police inspector that there has been no murder at all... SPIDER'S WEB was written in 1954 specifically for Margaret Lockwood and opened first at the Theatre Royal Nottingham before moving to the Savoy Theatre in London on 14 December 1954. With THE MOUSETRAP and WI"

In [5]:
pd.DataFrame(df['categories'].value_counts())
# there are 567 unique categories in the dataset

                           categories
Fiction                          2588
Juvenile Fiction                  538
Biography & Autobiography         401
History                           264
Literary Criticism                166
...                               ...
Paris (France)                      1
Autonomy (Psychology).              1
Bombings                            1
India                               1
Mysticism                           1

[567 rows x 1 columns]

In [6]:
df=df.drop('isbn13',axis=1)
df=df.drop('isbn10',axis=1)

In [7]:
df=df.drop('subtitle',axis=1)

In [8]:
# lets drop the subtitle column since we will not be using it in the future
df=df.drop('ratings_count',axis=1)
df=df.drop('num_pages',axis=1)
#lets drop the null values in authors and categories
df=df.dropna(subset=['authors','categories','published_year','average_rating'])
#lets convert the null values in other columns into empty strings
df['description'] = df['description'].fillna('')
df['thumbnail'] = df['thumbnail'].fillna('')

In [9]:
df.isnull().sum()

title             0
authors           0
categories        0
thumbnail         0
description       0
published_year    0
average_rating    0
dtype: int64

In [10]:
df.shape

(6599, 7)

## DATA PREPROCESSING

In [12]:
import spacy
import re

# Load the English tokenizer, tagger, parser, and NER
nlp = spacy.load("en_core_web_sm", disable=['ner'])  # Disabling Named Entity Recognition for faster processing

def preprocess_text(text):
    # Parse the text using SpaCy
    doc = nlp(text)
    
    # Lemmatize and remove stopwords and special characters
    preprocessed_tokens = [token.lemma_.lower() for token in doc if not token.is_stop and not token.is_punct and not token.is_space and not token.is_digit]
    
    # Join tokens back into text
    preprocessed_text = ' '.join(preprocessed_tokens)
    
    # Remove remaining special characters using regex
    preprocessed_text = re.sub(r'[^a-zA-Z\s]', '', preprocessed_text)
    
    return preprocessed_text

# Example usage:
text = "@#$ i Charlie Chaplin love pancakes and honey"
preprocessed_text = preprocess_text(text)
print("Original Text:", text)
print("Preprocessed Text:", preprocessed_text)

Original Text: @#$ i Charlie Chaplin love pancakes and honey
Preprocessed Text:  charlie chaplin love pancake honey

In [ ]:
import pandas as pd
import re

# Load the dataset containing information about books
books_df =df.reset_index(drop=True)

# Apply preprocessing to all textual features
text_features = ['authors','description','title','categories']
for feature in text_features:
    books_df[feature] = books_df[feature].fillna('').apply(preprocess_text)

In [ ]:
books_df.head(10)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
# Combine all textual features into a single feature
books_df['combined_text'] = books_df['title'] + ' ' + books_df['categories'] + ' ' + books_df['authors'] + ' ' + books_df['description']

# Use TF-IDF vectorization to convert textual features into numerical representations
tfidf_vectorizer = TfidfVectorizer()
combined_tfidf = tfidf_vectorizer.fit_transform(books_df['combined_text'])

# Calculate similarity scores between items (books) based on their feature vectors
similarity_matrix = cosine_similarity(combined_tfidf, combined_tfidf)

In [ ]:
pd.DataFrame(similarity_matrix)

In [ ]:
books_df.head(10)

In [ ]:
# Import necessary libraries
import pandas as pd
from wordcloud import WordCloud
import matplotlib.pyplot as plt

# Assuming 'column_name' is the name of the column containing text data in your DataFrame

# Concatenate all text data in the column into a single string
concatenated_text = ' '.join(books_df['combined_text'].astype(str).values)

# Generate the word cloud
wordcloud = WordCloud(width=800, height=400, background_color='white').generate(concatenated_text)

# Display the word cloud using matplotlib
plt.figure(figsize=(10, 5))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')  # Hide axes
plt.show()

In [ ]:
books_df.shape

## content based recommendation model

In [ ]:
books_df=books_df.reset_index(drop=True)

In [ ]:
def recommend_books_based_on_input(user_input, similarity_matrix, books_df, top_n=5):
    # Preprocess user input
    user_input = preprocess_text(user_input)

    # Find the indices of books that match the user input
    matching_indices = books_df.index[books_df['combined_text'].str.contains(user_input, case=False)].tolist()

    # Ensure that matching indices are within the bounds of the similarity matrix
    #matching_indices = [idx for idx in matching_indices if idx < len(similarity_matrix)]

    if not matching_indices:
        print("No matching books found for the input.")
        return None

    # Calculate the average similarity scores for matching books
    average_similarity_scores = []
    for idx in matching_indices:
        similarity_scores = similarity_matrix[idx]
        average_similarity_scores.append(sum(similarity_scores) / len(similarity_scores))

    # Sort matching books by average similarity scores
    sorted_indices = [x for _, x in sorted(zip(average_similarity_scores, matching_indices), reverse=True)]

    # Recommend top N similar books
    recommended_books = books_df.iloc[sorted_indices[:top_n]]
    return recommended_books[['title', 'authors','thumbnail']]


user_input = input("Please enter a keyword or phrase: ")
recommended_books = recommend_books_based_on_input(user_input, similarity_matrix, books_df)
print(recommended_books)

In [ ]:
import joblib

import numpy as np

# Optionally, save other necessary data
joblib.dump(tfidf_vectorizer, 'tfidf_vectorizer.pkl')
np.save('similarity_matrix.npy', similarity_matrix)
books_df.to_csv('books_data.csv', index=False)

In [ ]:
books_df.to_csv('books_data.csv', index=False)